*.pyc
*/__pycache__/*
src/model/rest/DraftRetriever/target/*
exp/*

*.log

备忘录.md

vicuna/*
llama/*

read_results.ipynb
best_results.json
.gitignore
.gitignore
cmds/exp.sh
all_results_summary.json
all_results_detailed.json
experiment_report.txt
exp_res/*

*.sh
.idea/DuoDecoding.iml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
test.py
